@import url('https://fonts.googleapis.com/css2?family=Alata&family=Bacasime+Antique&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
    min-height: 100vh;
    margin: 0;
    background-image: url("main.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

header {
    font-family: "Bacasime Antique", serif;
    font-weight: 400;
    font-style: normal;
    
    text-align: center;
    gap: clamp(12px,3vw,32px);
}

header img {
    width: clamp(64px, 7vw, 100px);
    height: clamp(52px, 4.5vw, 80px);
}

header #logo {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 25px;
}

header h1 {
    font-size: clamp(20px, 5vw, 36px);
    color: #211200;
}

header h4 {
    font-size: clamp(12px, 2vw, 20px);
    color: #505D68;
}

main {
    margin-top: clamp(32px, 5vw, 80px);
    gap: clamp(16px, 5vw, 32px);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.flex-blok {
    width: clamp(360px, 50vw, 561px);
    aspect-ratio: 561 / 438;
    border-radius: 25px;
    box-shadow: 0px 3px 30px rgba(0,0,0,1);
    transition: box-shadow 0.3s ease;
    box-sizing: border-box;
    padding: 120px 99px 120px 99px;
}

.flex-blok:hover {
    box-shadow: 0px 0px 0px rgba(0, 0, 0, 0);
}

#matematyka, #ekonomia {
    display: flex;
    justify-content: center;
    align-items: center;
}

#matematyka {
    background-image: url("matematyka.png");
    background-size: cover;
    background-position: center;
}

#ekonomia {
    background-image: url("ekonomia.png");
    background-size: cover;
    background-position: center;
}

.flex-blok h1 {
    font-size: clamp(32px, 5vw, 48px);
    letter-spacing: 0.15em;
    color: #E0E0E0;
    font-family: "Alata", sans-serif;
    font-weight: 400;
    font-style: normal;
    transition: opacity 0.3s ease;
}

.flex-blok:hover #napisZnika {
    opacity: 0;
    display: none;
}

footer {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;

    font-size: clamp(8px, 1.2vw, 14px);
    line-height: 21px;
    display: flex;
    justify-content: center;
    color: #505D68;
    line-height: 1.5;
    margin-top: clamp(48px, 8vw, 130px);
}

#mFunkcja {
    display: none;
    justify-content: center;
    align-items: center;
    gap: 40px;
    flex-wrap: wrap;
}

.flex-blokB {
    aspect-ratio: 160/80;
    width: clamp(100px, 30vw, 160px);
    background-color: #E0E0E0;
    border-radius: 8px;
    color: #211200;
    font-size: clamp(12px, 2vw, 20px);
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;

    font-family: "Alata", sans-serif;
    font-weight: 400;
    font-style: normal;
}