body {
    margin-left: 70px;
}

section#logo,h4 {
    margin-right: 70px;
}

h3#wymiary {
    font-style: italic;
    font-size: 140%;
}

h3#operacja {
    font-style: italic;
    font-size: 140%;
}

td {
    color: #0d0d03;
    font-size: 40px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-style: italic;
}

#ww:hover {
    font-style: italic;
}

#kk:hover {
    font-style: italic;
}

